html,
body {
  margin: 10;
  padding: 10;
  height: 100vh;
  width: 100vw;

}


#test1 {
	color: blue;
	width: 100px;
	border: 10px;
	border-color: blue;
	border-style: dotted;
}

#test2 {
	color: blue;
	width: 100px;
	border: 10px;
	border-color: red;
	border-style: dotted;
}

#test3 {
	color: blue;
	width: 100px;
	border: 10px;
	border-color: green;
	border-style: dotted;
}






